body{
  font-family: 'Merriweather', serif;
  text-align: center;
}

p{
  font-size: 1rem;

}

/* Containers */

.container{
  padding: 7% 15%;
}


/* Section Colour */

.coloured-pattern-section{
  /* background-color: #ea9abb; */
background-image: url("Images/titleBack.png");
background-size: cover;

  color: white;
}

.white-section{
  background-color: white;
}

.coloured-section{
 background-color: #ffc2c2;
}

/* Headings */
.big-heading{
  font-size: 3.5rem;
  line-height: 1.5;
}


/* Title Section */

#title {
  /* padding: 5% 5% 0%; */
  text-align: left;
}

#title .container-fluid{
  padding: 3% 15% 10%;
}

/* Title Image */
.title-image{
 height: 108%;

 position: relative;
 bottom:-35.5%;
  left:-10%
}

/* NavBar */
.navbar {
  padding: 0 0 3.2rem;
  /* Избавляемся от padding слева, чтобы логотип располагался на одном уровне с последующим текстом */
}

.nav-item {
  padding: 0 15px;

}

.logo{
  font-family:"Dancing Script",cursive;
  font-size: 2.75rem;
}

.nav-link{
  font-size: 1.6rem;
  font-family:  'Merriweather', serif;
  font-weight: 400;
  color:#3d0240;
}

.insta{
  padding-right: 10px;
  color:#3d0240;
}

.title-btn{
  color:#3d0240;
}

/* Feature Section  */

#features{
  padding:4.75% 2%;
 font-family:  'Merriweather', serif;
  position:relative;
  z-index: 1;
}

#features .container-fluid{
  padding-top: 4%;
  padding-bottom: 4%;
}
.feature-box{
  padding: 5%;
}

.icon{
  margin: 1rem;
  font-size: 4rem;
  color: #ff9999;
}

.feature-title{
  font-weight: bold;
  /* font-size: 1.5rem; */
}
.icon:hover{
  color:#7d156d;
}

/* Team Section */
#team{
  padding: 5% 0;
}

#team .container-fluid{
    padding-top:3%;
    padding-bottom: 3%;
}

#team h2 {
  margin-top: -3%;
  margin-bottom: 3%;
}
.team-card{

  color: #232020;


}
.name{
  font-size: 1.45rem;
  font-weight: bold;
}
.prof{
  font-size: 1rem;
}

.team-col{
  padding:2% 5%;

}
.team-container:hover
{
  /* box-shadow: 1px 1px 20px 0 grey; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.team-hr{
   border: 0.5px solid grey;
}

h2.logo{
  margin-bottom: 1%;
}



.hover01 {

  transform: scale(1);
  transition: scale, 2s;

}
.hover01:hover {
  transform: scale(1.2);

}

.overlay{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  height:100%;
  width:100%;
  opacity:0;
  transition: .5s ease;
  background-color: white;
}

.team-container:hover .overlay{
  opacity:1;
}

.text{
  color:#393e46;
  padding-top: 7%;
  padding-bottom: 7%;
  padding-left: 4%;
  padding-right: 4%;
  text-align:center;

}

/* Testimonials */
#testimonials{
  /* padding: 7% 9%; */
  padding:6% 2%;


}

.carousel-item{
  padding:7% 11%;


}



.testimonials-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonials-image.maria{
  margin-top: 4.5%;
}

.feedback{
  text-align: center;
  font-size: 2.4rem;
  line-height: 1.5;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

/* Pricing */

#pricing{
  background-color: #f59aa3;
  padding: 10% 5%;
}



@media(min-width:992px) and (max-width:1173px){

  .text p{
    font-size: 0.85rem;
    padding-left: 4.75%;
    padding-right: 4.75%;
  }


}

@media(min-width:592px) and (max-width: 991px){


  #title{
    text-align: center;
  }


  .navbar-title{
    padding-bottom: 8%;
  }

  .title-image{
    bottom:-10%;
  }

  #title .container-fluid{

    padding-bottom: 0%;
  }

  #features .container-fluid{
    padding-top: 7%;
    padding-bottom: 7%;
  }
  .feature-box{
    padding-right: 15%;
    padding-left: 15%;
  }

  .team-col{

    margin-left:3%;
    margin-right:3%;
    margin-bottom: 10%;
    width:70%;
    height:80%;
    position: relative;
    left:13%;

  }

  .main-logo{
     padding-bottom: 1%;

  }

  .hover01:hover {
    transform: scale(1.1);

  }
.text p{
  font-size: 1.25rem;
}


}

@media(max-width:696px){
  .testimonials-image {
    width: 20%;
    border-radius: 100%;
    margin: 20px;
  }

  .feedback{
    text-align: center;
    font-size: 1.2rem;

  }

  span.main-logo{
    font-size: 1.5rem;
  }
}

@media (max-width:591px){
  .main-logo{
    padding-top: 3%;
    padding-bottom: 1%;

  }
  .team-col{
    margin:4% 3%;
    width:73%;
    position: relative;
    left:10%;
  }

  .text p{
    font-size: 0.8rem;
  }


}
